#product-page {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
    .product-page_main {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pagigation {
        padding: 4rem 0;
    }
}
