#filter-product {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 0;
    .filter-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1;
        .filter-name {
            justify-content: center;
            align-items: center;
            display: flex;
            flex: 1;
            label {
                width: 40%;
            }
        }
        .filter-select {
            margin-left: 2rem;
        }
    }
    .filter-right {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        button {
            align-self: flex-end;
        }
    }
}
