#registry-page {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    .registry-form {
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
        min-width: 600px;
        padding: 3rem;
        input[type="number"] {
            -moz-appearance: textfield;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}
