#cart-page {
    padding-bottom: 5rem;
    margin: 3rem auto;
    max-width: 80%;

    .cart_wrapper {
        display: flex;
        flex-direction: column;
    }

    .cart-button {
        display: flex;
        flex-direction: row-reverse;
    }
}
