#cart-page {
    padding-bottom: 5rem;
    margin: 3rem auto;
    max-width: 80%;

    .cart_wrapper {
        display: flex;
        flex-direction: column;
    }

    .cart-button,
    .total-price {
        display: flex;
        flex-direction: row-reverse;
    }
    .total-price {
        font-weight: 500;
        font-size: 1.6rem;
        color: #db342e;
        margin: 2rem 0;
    }
}
