#login-page {
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .login-form {
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
        min-width: 500px;
        padding: 3rem;
    }
}
